﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppTestTask</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" media='all' />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" media='all' />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <h4 id="logo_name">LOGO</h4>
            <div class="container">                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item_custom">
                            <div>Menu 1</div>
                        </li>
                        <li class="nav-item_custom">
                            <div>Menu 2</div>
                        </li>
                        <li class="nav-item_custom">
                            <div>Menu 3</div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebAppTestTask
        </div>
    </footer>
    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
