﻿<div class="container">
    <div class="row">
        <div id="main_box" class="col-5">
            <div class="input_box">
                <label>Username:</label>
                <input type="text" id="user_name" class="form-control form-control-sm">
            </div>
            <div class="input_box">
                <label>Password:</label>
                <input type="password" id="user_password" class="form-control form-control-sm">
            </div>
            <div class="text-center input_box submit_box">
                <button class="btn btn-sm btn-success" onclick="execute()">Submit</button>
            </div>
        </div>
        <div class="col-7"></div>
        <div id="message_box" class="col-5"></div>
        <div class="col-7"></div>
    </div>
</div>


